.section {
  margin-top: 120px;
  font-family: "Exo2";
  font-weight: 300;
}

.section h1 {
  font-family: "Exo2";
  font-weight: 300;
  display: grid;
  align-items: center;
  font-size: 50px;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.content {
  display: grid;
  gap: 56px;
}

.text {
  max-width: 580px;
  display: grid;
  align-items: center;
}

.description {
  display: grid;
  gap: 10px;
}

.description h2 {
  font-size: 18px;
  margin: 0;
  line-height: 140%;
  font-family: "Exo2";
  font-weight: 300;
  text-align: left;
}

.actions {
  display: flex;
  gap: 24px;
  margin-top: -80px;
  height: 100%;
  margin-bottom: 200px;
}

.primaryButton {
  display: flex;
  height: 52px;
  width: 320px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  background-color: var(--second);
  text-decoration: none;
  color: black;
}

.secondaryButton {
  display: flex;
  height: 52px;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--second);
  max-width: 244px;
  text-decoration: none;
  color: black;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  gap: 20px;
}

.imagePrimary {
  object-fit: fill;
  border-radius: 10px;
  align-self: center;
  min-width: 80%;
  max-width: 80%;
  flex-shrink: 0;
}

.imageSecondary {
  object-fit: fill;
  border-radius: 10px;
  align-self: center;
  min-width: 100%;
  max-width: 100%;
  flex-shrink: 0;
}

@media (max-width: 1740px) {
  .wrapper {
    grid-template-columns: 0.8fr 1fr;
  }
}

@media (max-width: 1540px) {
  .wrapper {
    gap: 20px;
  }

  .actions {
    margin-top: -10px;
  }
}

@media (max-width: 1140px) {
  .section h1 {
    font-size: 56px;
  }

  .wrapper {
    margin-bottom: 40px;
    gap: 10px;
    grid-template-columns: 0.8fr 1fr;
  }
}

@media (max-width: 800px) {
  .wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 120px;
  }

  .content {
    display: block;
  }

  .imagePrimary {
    min-width: 100%;
  }

  .section {
    margin-top: 20px;
  }

  .section h1 {
    font-size: 32px;
  }

  .text {
    grid-row: 2;
  }

  .images {
    grid-row: 1;
  }

  .images img {
    max-width: 200px;
    max-height: 400px;
  }

  .description {
    order: 1;
    font-size: 14px;
    width: 92vw;
  }

  .description h2 {
    font-size: 14px;
    width: 92vw;
  }

  .primaryButton,
  .secondaryButton {
    height: 52px;
    font-size: 14px;
  }

  .actions {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 720px) {
  .section h1 {
    font-size: 26px;
  }

  .wrapper {
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr;
  }

  .images img {
    max-width: 160px;
  }

  .images {
    justify-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}
