.MyModal{
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.MyModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}


.ModalWindow__content{
    padding: 25px;
    background-color: var(--background);
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
    min-width: 200px;


    display: grid;
    justify-content: center;
    align-content: center;

    gap: 20px;
    position: relative;
}

.ModalWindow__content h2{
    margin: 0px;
    font-size: 18px;
    position: relative;
}

.ModalWindow__content-img{
    height: auto;
    min-width: 140px;
    border-radius: 10px;
    border: 1px dashed #FFD6BC;
    background-color: var(--background);

    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */

    cursor: pointer;
    justify-self: center;
}

.ModalWindow__content-buttonClose{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 0px;

    cursor: pointer;
    background-color: var(--second);

    position: absolute;

    left: 16px;
    top: 16px;
}

.ModalWindow__content-img img{
    height: auto;

    /* height: auto; */
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 300px;
    object-fit: cover;
}

.ModalWindow__content-img-input{
    position: relative;
    z-index: -99;
    height: 0px;
}


.ModalWindow__content-divider{
    width: 180px;
    height: 1px;
    background-color: var(--second);

    justify-self: center;
}

.ModalWindow__content form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.ModalWindow__content form input{
    border: 1px solid var(--second);

    height: 28px;
    border-radius: 6px;
    padding-left: 10px;

    margin-top: 6px;

    width: 300px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.ModalWindow__content form button{

    margin-top: 12px;
    cursor: pointer;

    border: 0px;
    background-color: var(--second);

    height: 42px;
    border-radius: 6px;
    padding-left: 10px;
}

@media (max-width: 800px) {
    .ModalWindow__content{
        padding: 20px;
        background-color: var(--background);
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 200px;
        gap: 10px;
    }

    .ModalWindow__content-img{
        max-height: 200px;
        min-width: 140px;
    }

    .ModalWindow__content-img img{
        max-height: 200px;
        max-width: 300px;
    }

    .ModalWindow__content-buttonClose{
        left: 6px;
        top: 6px;
    }

}

