.store {
  font-family: "Exo2";
  font-weight: 300;

  scroll-snap-align: start;
}

.store__filter {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-left: 10vw;
  margin-bottom: 10px;
}

#Store {
  margin-bottom: 60px;
}

.store__filter button {
  cursor: pointer;
  display: none;
  width: 162px;
  background-color: var(--second);
  border: 0;
  height: 42px;
  border-radius: 6px;
}
.store__filter button:hover {
  opacity: 90%;
}

.store__container {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 20px;
}

/*  */

.store__container-close {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 20px;
}

/* categories */

.store__container-categories-close {
  display: block;
}

.store__container-categories-close label {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.store__container-categories-close input {
  cursor: pointer;
}

.custom-checkbox {
  accent-color: var(--second);
}

.btn_close {
  background-color: brown;
  width: 242px;
}

.store__batton {
  display: grid;
  justify-content: center;
}

.Btn-CardLoad {
  height: 52px;
  max-width: 400px;

  cursor: pointer;
  border-radius: 10px;
  border: 0px;

  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--second);
  min-width: 244px;

  margin-top: 60px;
  margin-bottom: 80px;
}

.store__container-btnAddCard {
  margin-top: 32px;

  background-color: var(--second);
  border: 0px;
  border-radius: 6px;
  cursor: pointer;

  padding-left: 24px;
  padding-right: 24px;
  height: 32px;
}

@media (max-width: 1600px) {
  .Btn-CardLoad {
    margin-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .store__filter {
    gap: 20px;
    margin-left: 2vw;
  }

  .store__filter button {
    display: block;
  }

  .store__container-close {
    grid-template-columns: 1fr;
  }

  /* categories */

  .store__container-categories-close {
    display: none;
  }
}
