.section {
  font-family: "Exo2";
  font-weight: 300;
  scroll-snap-align: start;
  margin-bottom: 80px;
}

.section h2 {
  margin-bottom: 60px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10vw;
  margin-bottom: 10px;
}

.filterButton {
  cursor: pointer;
  display: none;
  width: 162px;
  background-color: var(--second);
  border: 0;
  height: 42px;
  border-radius: 6px;
}

.filterButton:hover {
  opacity: 90%;
}

.container {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 20px;
}

.containerCompact {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 20px;
}

.categories {
  display: block;
}

.categoriesHidden {
  display: block;
}

.actions {
  display: grid;
  justify-content: center;
}

.loadButton {
  height: 52px;
  max-width: 400px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--second);
  min-width: 244px;
  margin-top: 60px;
}

@media (max-width: 1600px) {
  .loadButton {
    margin-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .filter {
    gap: 20px;
    margin-left: 2vw;
  }

  .filterButton {
    display: block;
  }

  .containerCompact {
    grid-template-columns: 1fr;
  }

  .categoriesHidden {
    display: none;
  }
}
