.section {
  display: flex;
  font-family: "Exo2";
  font-weight: 300;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 60vw;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.text {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 32vw;
  gap: 10px;
  margin-top: 60px;
  text-align: center;
}

.write {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.messengers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .text {
    font-size: 16px;
    width: 60vw;
  }

  .card {
    width: 90vw;
  }
}

@media (max-width: 800px) {
  .card {
    height: 70vh;
    width: 90vw;
  }

  .text {
    font-size: 16px;
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .card h2 {
    margin-top: 10px;
  }

  .text {
    margin-top: 30px;
    font-size: 14px;
    width: 70vw;
  }

  .write {
    margin-top: 30px;
  }
}
