.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px 60px;
  background-color: var(--background);
  border-radius: 10px;
  min-width: 200px;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  gap: 20px;
}

.content p {
  text-align: center;
  margin-bottom: 20px;
  max-width: 80vw;
  max-height: 60px;
}

.imageBox {
  max-height: 80vh;
  max-width: 80vw;
  border-radius: 10px;
  border: 1px dashed #ffd6bc;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-self: center;
}

.imageBox img {
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  object-fit: cover;
  max-height: 80vh;
  max-width: 80vw;
}

.actionButton {
  height: 42px;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--second);
  text-decoration: none;
  color: black;
}

.closeButton {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  background-color: var(--second);
  position: absolute;
  left: 16px;
  top: 16px;
}

@media (max-width: 800px) {
  .content {
    padding: 20px;
    gap: 10px;
  }

  .closeButton {
    left: 8px;
    top: 8px;
  }
}
