.header {
  font-family: "Exo2";
  font-weight: 300;
  display: grid;
  height: 110px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoLink {
  text-decoration: none;
  color: black;
}

.logo {
  text-align: center;
}

.navigation {
  align-self: center;
  justify-self: end;
  position: relative;
}

.hamburgerWrap {
  position: relative;
}

.toggle {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: none;
  z-index: 20;
}

.hamburger div {
  display: none;
  width: 2em;
  height: 4px;
  border-radius: 3px;
  background-color: black;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.nav {
  display: block;
}

.navDesktop {
  display: block;
}

.navOpen {
  display: block;
}

.navClosed {
  display: block;
}

.navWrapper {
  position: relative;
  height: 100%;
}

.navList {
  font-size: 14px;
  display: flex;
  justify-self: end;
  gap: 40px;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  transition: color 0.2s ease-in-out;
}

.navLink li {
  list-style: none;
}

.navLink:hover {
  opacity: 80%;
}

.toggle:checked + .hamburger .topBun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

.toggle:checked + .hamburger .bottomBun {
  opacity: 0;
  transform: rotate(45deg);
}

.toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -4px;
}

@media (max-width: 1740px) {
  .navList {
    gap: 20px;
  }
}

@media (max-width: 1540px) {
  .navList {
    width: 100%;
    margin-top: 160px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .hamburger {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
    display: block;
  }

  .hamburger div {
    display: block;
  }

  .navLink {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navLink li {
    font-size: 20px;
    width: 240px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--second);
  }

  .navWrapper {
    text-align: center;
    box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 10;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out;
  }

  .navOpen .navWrapper {
    transform: translateX(0);
  }

  .navClosed .navWrapper {
    transform: translateX(100%);
    pointer-events: none;
  }

  .navDesktop .navWrapper {
    transform: translateX(0);
    pointer-events: auto;
  }

  .header {
    grid-template-columns: 0.6fr 1fr 0.6fr;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 200px;
    height: 52px;
  }
}
