.category-filter {
  margin: 0;
}

.category-filter p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.category-filter__checkbox div {
  display: flex;
  align-items: center;
  margin: 0;
}

.category-filter label {
  font-size: 14px;
  cursor: pointer;
}

.category-filter input {
  cursor: pointer;
}

.category-group {
    margin-bottom: 14px;
}

.custom-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #333;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: var(--second);
  border-color: var(--second);
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 8px;
}
