.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(20px, auto));
  gap: 20px;
  justify-content: space-between;
  overflow: hidden;
}

.card {
  position: relative;
  border-radius: 10px;
  background: rgb(254, 250, 244);
  overflow: hidden;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 4px 4px 12px;
}

.card img {
  cursor: pointer;
  width: 100%;
  border-radius: 10px 10px 0 0;
  max-height: 600px;
}

@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(4, minmax(10px, auto));
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, minmax(10px, auto));
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, minmax(10px, auto));
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, minmax(10px, auto));
  }
}
