@import url("./vendor/fonts.css");

* {
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --second: #ffd6bc;
}

body::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--second);
  border-radius: 20px;
  border: 3px solid var(--background);
}
